# .NET
bin/
obj/
*.user
*.suo
.vs/

# VS Code / IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Secrets
.env
*.env
secrets/
*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store
Thumbs.db